<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDvPzD_WUOHwN3Nc89P2qSosk3ya-Sl8us</string>
	<key>GCM_SENDER_ID</key>
	<string>357984166913</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.labmaidfastapi</string>
	<key>PROJECT_ID</key>
	<string>labmaid-fastapi-auth</string>
	<key>STORAGE_BUCKET</key>
	<string>labmaid-fastapi-auth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:357984166913:ios:24a743887be208c4400c00</string>
</dict>
</plist>