<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- 位置情報の使用許可 -->
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>このアプリは、位置ベースのサービスを提供するために、使用中に位置情報へのアクセスが必要です。</string>

    <!-- 常に位置情報を使用するための権限 -->
    <key>NSLocationAlwaysUsageDescription</key>
    <string>このアプリは、バックグラウンドでの継続的な位置ベースのサービスを提供するために、常時位置情報へのアクセスが必要です。</string>

    <!-- バックグラウンドでの動作モード -->
    <key>UIBackgroundModes</key>
    <array>
        <string>location</string>
    </array>

    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
    </dict>

    <!-- マイクの使用許可 -->
    <key>NSMicrophoneUsageDescription</key>
    <string>マイクにアクセスするよ</string>

    <!-- フォルダの使用許可 -->
    <key>NSDocumentsFolderUsageDescription</key>
    <string>App needs access to documents folder.</string>

    <!-- その他のプライバシーキー -->
    <key>NSLocationUsageDescription</key>
    <string>このアプリは、macOSで位置ベースのサービスを提供するために位置情報へのアクセスが必要です。</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>ライブラリにアクセスするよ</string>
    <key>NSCameraUsageDescription</key>
    <string>カメラにアクセスするよ</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>写真ライブラリに画像を保存するための権限が必要です。</string>

    <!-- その他の設定 -->
    <key>FLTEnableImpeller</key>
    <true/>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleDisplayName</key>
    <string>Labmaidfastapi</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>labmaidfastapi</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>$(FLUTTER_BUILD_NAME)</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>$(FLUTTER_BUILD_NUMBER)</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>UIMainStoryboardFile</key>
    <string>Main</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationPortraitUpsideDown</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>CADisableMinimumFrameDurationOnPhone</key>
    <true/>
    <key>UIApplicationSupportsIndirectInputEvents</key>
    <true/>
</dict>
</plist>
