<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Labmaidfastapi</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>labmaidfastapi</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>FLTEnableImpeller</key>
	<true/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>カメラにアクセスするよ</string>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>App needs access to documents folder.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>このアプリは、バックグラウンドでの継続的な位置ベースのサービスを提供するために、常時位置情報へのアクセスが必要です。</string>
	<key>NSLocationUsageDescription</key>
	<string>このアプリは、macOSで位置ベースのサービスを提供するために位置情報へのアクセスが必要です。</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>アプリが位置情報を常時利用する理由を説明します。</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>このアプリは、位置ベースのサービスを提供するために、使用中に位置情報へのアクセスが必要です。</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>マイクにアクセスするよ</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>写真ライブラリに画像を保存するための権限が必要です。</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>ライブラリにアクセスするよ</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>location</string>
		<string>bluetooth-central</string>
		<string>nearby-interaction</string>
	</array>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
    <array>
    	<string>com.example.bgtask.periodic</string>
    </array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
